ΆΣΚΗΣΗ 3

-Θα δημιουργήσετε ένα project που θα δέχεται τα δεδομένα του επισυναπτόμενου αρχείου 
και θα δημιουργεί τα αντίστοιχα στοιχεία για κάθε εργαζόμενο (στην HTML).

-Φωτογραφία, όνομα, επώνυμο, email, ικανότητες, χώρα, μισθός.

-Στο πάνω μέρος θα υπάρχει η δυνατότητα αναζήτησης. Όπου θα εισάγουμε ένα κείμενο 
και μόλις κάνουμε αναζήτηση θα μας αφήνει τους εργαζόμενους που ταιριάζουν, 
έστω και μερικώς, το όνομα ή το επίθετο ή το email ή η χώρα.

-Θα υπάρχει η επιλογή να αναστρέψουμε την αναζήτηση σε άλλο κουμπί.

-Σε κάθε αποτέλεσμα αναζήτησης μας βγάζει το συνολικό κόστος του προσωπικού σε <h1> 
στοιχείο στην HTML. Αν το κόστος ξεπερνά τις 5.000, το tag θα έχει χρώμα κόκκινο.